html, body {
    height: 100%;
    width: 100%;
}

#root, .App {
    height: 100%;
}

p {
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 1.1em;
    line-height: 22px;
}

h1 {
    font-family: 'ProximaNova-Bold', sans-serif;
    font-size: 4em;
}

.Wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Content {
    flex-grow: 1;
    position: relative;
}
